@import "tailwindcss";

/* your global styles */
body {
  background: radial-gradient(circle at top, #111827, #020617);
  color: white;
}


/* smooth scrolling */
html {
  scroll-behavior: smooth;
}

body::after {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url("https://grainy-gradients.vercel.app/noise.svg");
  opacity: 0.05;
  pointer-events: none;
}

@keyframes marquee {
  from { transform: translateX(0); }
  to   { transform: translateX(-50%); }
}